h2 {
  color: blueviolet;
}

.logofont {
  font-family: "Nosifer", cursive;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    #99e052 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* contact form */
.contact {
  height: 100vh;
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(../images/zoom_out.jpg) center center no-repeat / cover;
}

.contact2 {
  height: 100vh;
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(../images/open.jpg) center center no-repeat / cover;
}

.contact-reset {
  height: 100vh;
  background: linear-gradient(
      105deg,
      rgba(21, 31, 32, 1) 0%,
      rgba(21, 31, 32, 0.95) 50%,
      transparent 50%
    ),
    url(../images/pass_reset.jpg) center center no-repeat / cover;
}

.input {
  background: transparent;
  border-color: transparent;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  transition: all 0.8s;
}

.input:focus {
  background: transparent;
  background-color: transparent;
  box-shadow: none !important;
  color: #fff;
  border-bottom: 2px solid #f5593d;
}

.submit-button {
  background: #f5593d;
  color: #eee;
  transition: all 0.3s;
}
.submit-button:hover {
  background: #f9793d;
  transform: translateY(-3px);
}
.extrapad {
  margin-bottom: 20px;
  color: #151f20;
}

.label {
  color: #777;
  display: block;
  margin-top: -70px;
  margin-left: 4px;
  font-size: 13px;
  transition: all 0.6s;
}

.input:placeholder-shown + .label {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
}

@media (max-width: 992px) {
  .contact {
    background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 31, 32, 0.95));
  }

  .contact-form {
    width: 80%;
    margin: auto;
  }
}
/* end of contact form */
